/**
 * Weekly briefing components - aggregated from partials.
 */

@import './cards.css';
@import './status-card.css';
@import './tabs.css';
@import './snapshot.css';
@import './updates-modal.css';
@import './weekly-modal.css';
